/*  coding: utf-8 */
.o_fmsexpensess_main table{width:100%;}

.o_fmsexpensess_details table{width:100%;}


/* .o_fmsexpensess_main .header{text-align: center; font-size: 15px; color: #7C7BAD; margin: 15px 0px 10px;} */

